@import url(./Font/stylesheet.css);

:root {
  --primary-color: rgb(0, 8, 54);
  --secondary-color: rgb(255, 0, 166);
  --shadow-color: rgb(0, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

h1 {
  margin-top: 4rem;
  font-size: min(4rem, 15vw);
  color: #ffcef3;
  display: inline-block;
  padding: 2rem 3rem;
  border: solid 0.3rem #fff;
  border-radius: 2rem;
  max-width: 70%;
}

h1,
#start-game {
  font-family: "neon_lightregular", sans-serif;
  font-weight: 500;
  text-shadow: 3px 0 5px var(--secondary-color),
    -3px 0 5px var(--secondary-color), 0 3px 5px var(--secondary-color),
    0 -3px 5px var(--secondary-color);
}

.mode-selector {
  width: 27rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

input[type="radio"] {
  appearance: none;
  height: 2rem;
  width: 12rem;
  border-radius: 2rem;
  background-color: transparent;
  cursor: pointer;
  outline: rgb(255, 255, 255) solid 2px;
}

input#AI-mode:checked {
  box-shadow: 0 0 8px 3px var(--shadow-color),
    inset 0 0 8px 3px var(--shadow-color);
}

input#friend-mode:checked,
h1 {
  box-shadow: 0 0 8px 3px var(--secondary-color),
    inset 0 0 8px 3px var(--secondary-color);
}

label {
  position: absolute;
  text-align: center;
  top: 0.2rem;
  cursor: pointer;
  user-select: none;
}

label[for="AI-mode"] {
  left: 11%;
  color: var(--shadow-color);
}

label[for="friend-mode"] {
  right: 6%;
  color: var(--secondary-color);
}

#start-game {
  width: 7rem;
  height: 3rem;
  border: solid #fff 2px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 0 8px 3px var(--secondary-color),
    inset 0 0 8px 3px var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.1s;
}

#start-game:hover {
  transform: scale(1.05);
}

*:disabled {
  cursor: none;
  transform: none;
}

/* Game field */

.game-field {
  width: min(70vw, 30rem);
  height: 1px;
  display: block;
  margin: 2rem auto;
  transition: 1s;
  border-radius: 1rem;
  border: solid #fff 2px;
  overflow: hidden;
  box-shadow: 0 0 8px 7px var(--shadow-color);
}

.game-field.open {
  padding: 1rem;
  height: min(70vw, 30rem);
}

.game-grid {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border-radius: 0.5rem;
  border: solid 2px rgb(255, 255, 255, 0.2);
  transition: 0.2s;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
  cursor: pointer;
}

.cell.x {
  background-image: url(./images/x.svg);
  filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
    drop-shadow(0px 0px 5px rgb(0, 255, 255))
    drop-shadow(0px 0px 7px rgb(0, 255, 255));
  animation: flicker-x 5s infinite 2s;
}

.cell.o {
  background-size: 80%;
  background-image: url(./images/o.svg);
  filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
    drop-shadow(0px 0px 5px rgb(255, 0, 166))
    drop-shadow(0px 0px 7px rgb(255, 0, 166));
  animation: flicker-o 4s infinite 1s;
}

.cell.winner {
  border: 0.4rem solid #fff;
  filter: drop-shadow(0px 0px 2px rgb(0, 255, 0))
    drop-shadow(0px 0px 5px rgb(0, 255, 0))
    drop-shadow(0px 0px 7px rgb(0, 255, 0));
}

.cell.winner.x {
  animation: winner-x 1s infinite;
}

.cell.winner.o {
  animation: winner-o 1s infinite;
}

/* Animation */

@keyframes flicker-x {
  0% {
    filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
      drop-shadow(0px 0px 5px rgb(0, 255, 255))
      drop-shadow(0px 0px 7px rgb(0, 255, 255));
  }
  2% {
    filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
      drop-shadow(0px 0px 5px rgb(0, 255, 255))
      drop-shadow(0px 0px 7px rgb(0, 255, 255));
  }
  3% {
    filter: none;
  }
  4% {
    filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
      drop-shadow(0px 0px 5px rgb(0, 255, 255))
      drop-shadow(0px 0px 7px rgb(0, 255, 255));
  }
}

@keyframes flicker-o {
  0% {
    filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
      drop-shadow(0px 0px 5px rgb(255, 0, 166))
      drop-shadow(0px 0px 7px rgb(255, 0, 166));
  }
  1% {
    filter: none;
  }
  2% {
    filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
      drop-shadow(0px 0px 5px rgb(255, 0, 166))
      drop-shadow(0px 0px 7px rgb(255, 0, 166));
  }
  3% {
    filter: none;
  }
  4% {
    filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
      drop-shadow(0px 0px 5px rgb(255, 0, 166))
      drop-shadow(0px 0px 7px rgb(255, 0, 166));
  }
}

@keyframes winner-x {
  0% {
    filter: drop-shadow(0px 0px 2px rgb(0, 255, 0))
      drop-shadow(0px 0px 5px rgb(0, 255, 0))
      drop-shadow(0px 0px 7px rgb(0, 255, 0));
  }
  49% {
    filter: drop-shadow(0px 0px 2px rgb(0, 255, 0))
      drop-shadow(0px 0px 5px rgb(0, 255, 0))
      drop-shadow(0px 0px 7px rgb(0, 255, 0));
  }
  50% {
    filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
      drop-shadow(0px 0px 5px rgb(0, 255, 255))
      drop-shadow(0px 0px 7px rgb(0, 255, 255));
  }
  99% {
    filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
      drop-shadow(0px 0px 5px rgb(0, 255, 255))
      drop-shadow(0px 0px 7px rgb(0, 255, 255));
  }
}

@keyframes winner-o {
  0% {
    filter: drop-shadow(0px 0px 2px rgb(0, 255, 0))
      drop-shadow(0px 0px 5px rgb(0, 255, 0))
      drop-shadow(0px 0px 7px rgb(0, 255, 0));
  }
  49% {
    filter: drop-shadow(0px 0px 2px rgb(0, 255, 0))
      drop-shadow(0px 0px 5px rgb(0, 255, 0))
      drop-shadow(0px 0px 7px rgb(0, 255, 0));
  }
  50% {
    filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
      drop-shadow(0px 0px 5px rgb(255, 0, 166))
      drop-shadow(0px 0px 7px rgb(255, 0, 166));
  }
  99% {
    filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
      drop-shadow(0px 0px 5px rgb(255, 0, 166))
      drop-shadow(0px 0px 7px rgb(255, 0, 166));
  }
}
