@import url(./Font/stylesheet.css);

:root {
  --primary-color: rgb(0, 8, 54);
  --secondary-color: rgb(255, 0, 166);
  --shadow-color: rgb(0, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

h1 {
  margin-top: 3rem;
  font-size: clamp(2.5rem, 10vw, 4rem);
  color: #ffcef3;
  display: inline-block;
  padding: 1rem 2rem;
  border: solid 0.3rem #fff;
  border-radius: 2rem;
  width: min(30rem, 70%);
}

h1,
#start-game,
#dialog p,
#dialog button {
  font-family: "neon_lightregular", sans-serif;
  font-weight: 500;
  text-shadow: 3px 0 5px var(--secondary-color),
    -3px 0 5px var(--secondary-color), 0 3px 5px var(--secondary-color),
    0 -3px 5px var(--secondary-color);
}

.mode-selector {
  width: min(30rem, 70%);
  margin: 2rem auto 4rem;
  display: flex;
  justify-content: space-between;
}

input[type="radio"] {
  appearance: none;
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  outline: rgb(255, 255, 255) solid 2px;
}

input#AI-mode {
  background: url(./images/1-player.svg) center/70% no-repeat;
}

input#friend-mode {
  background: url(./images/2-player.svg) center/70% no-repeat;
}

input#friend-mode:checked,
input#AI-mode:checked {
  box-shadow: 0 0 8px 3px var(--shadow-color),
    inset 0 0 8px 3px var(--shadow-color);
}

h1,
#dialog {
  box-shadow: 0 0 8px 3px var(--secondary-color),
    inset 0 0 8px 3px var(--secondary-color);
}

h1,
#start-game,
#dialog button,
#dialog p {
  user-select: none;
}

#start-game {
  flex: 1 0 7rem;
  margin: 0 1rem;
}

#start-game,
#dialog button {
  height: 3rem;
  border: solid #fff 2px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 0 8px 3px var(--secondary-color),
    inset 0 0 8px 3px var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.1s;
}

#start-game:hover {
  transform: scale(1.02);
}

input#AI-mode:disabled,
input#friend-mode:disabled,
#start-game:disabled {
  cursor: auto;
  transform: none;
  filter: opacity(0.3);
  box-shadow: none;
  color: #fff;
}

/* Game field */

.game-field {
  width: min(70vw, 30rem);
  height: 1px;
  display: block;
  margin: 2rem auto;
  transition: 1s;
  border-radius: 1rem;
  border: solid #fff 2px;
  overflow: hidden;
  box-shadow: 0 0 8px 7px var(--shadow-color);
}

.game-field.open {
  padding: 1rem;
  height: min(70vw, 30rem);
}

.game-grid {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  border-radius: 0.5rem;
  border: solid 2px rgb(255, 255, 255, 0.2);
  transition: 0.2s;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
  cursor: pointer;
}

.cell.x {
  background-image: url(./images/x.svg);
  filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
    drop-shadow(0px 0px 5px rgb(0, 255, 255))
    drop-shadow(0px 0px 7px rgb(0, 255, 255));
  animation: flicker-x 5s infinite 2s;
}

.cell.o {
  background-size: 80%;
  background-image: url(./images/o.svg);
  filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
    drop-shadow(0px 0px 5px rgb(255, 0, 166))
    drop-shadow(0px 0px 7px rgb(255, 0, 166));
  animation: flicker-o 4s infinite 1s;
}

.cell.winner {
  border: 0.4rem solid #fff;
  filter: drop-shadow(0px 0px 2px rgb(0, 255, 0))
    drop-shadow(0px 0px 5px rgb(0, 255, 0))
    drop-shadow(0px 0px 7px rgb(0, 255, 0));
}

.cell.winner.x {
  animation: winner-x 1s infinite;
}

.cell.winner.o {
  animation: winner-o 1s infinite;
}

/* Modal */

#dialog {
  background-color: transparent;
  padding: 3rem;
  max-width: 80%;
  backdrop-filter: blur(3px);
  position: absolute;
  left: 0;
  top: 12rem;
  margin: 0 auto;
  outline: solid var(--secondary-color) 3px;
  border-radius: 1rem;
  border: solid 0.2rem #ffcef3;
  overflow: hidden;
}

dialog::backdrop {
  background-color: #000d;
  backdrop-filter: blur(5px);
}

#dialog p {
  font-size: min(5rem, 15vw);
  color: #ffcef3;
}

#dialog button {
  font-size: 1.5rem;
  /* width: 10rem; */
  margin-top: 2rem;
  width: max(50%, 7rem);
  padding: 1rem;
  height: auto;
}

/* Animation */

@keyframes flicker-x {
  0% {
    filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
      drop-shadow(0px 0px 5px rgb(0, 255, 255))
      drop-shadow(0px 0px 7px rgb(0, 255, 255));
  }
  2% {
    filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
      drop-shadow(0px 0px 5px rgb(0, 255, 255))
      drop-shadow(0px 0px 7px rgb(0, 255, 255));
  }
  3% {
    filter: none;
  }
  4% {
    filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
      drop-shadow(0px 0px 5px rgb(0, 255, 255))
      drop-shadow(0px 0px 7px rgb(0, 255, 255));
  }
}

@keyframes flicker-o {
  0% {
    filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
      drop-shadow(0px 0px 5px rgb(255, 0, 166))
      drop-shadow(0px 0px 7px rgb(255, 0, 166));
  }
  1% {
    filter: none;
  }
  2% {
    filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
      drop-shadow(0px 0px 5px rgb(255, 0, 166))
      drop-shadow(0px 0px 7px rgb(255, 0, 166));
  }
  3% {
    filter: none;
  }
  4% {
    filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
      drop-shadow(0px 0px 5px rgb(255, 0, 166))
      drop-shadow(0px 0px 7px rgb(255, 0, 166));
  }
}

@keyframes winner-x {
  0% {
    filter: drop-shadow(0px 0px 2px rgb(0, 255, 0))
      drop-shadow(0px 0px 5px rgb(0, 255, 0))
      drop-shadow(0px 0px 7px rgb(0, 255, 0));
  }
  49% {
    filter: drop-shadow(0px 0px 2px rgb(0, 255, 0))
      drop-shadow(0px 0px 5px rgb(0, 255, 0))
      drop-shadow(0px 0px 7px rgb(0, 255, 0));
  }
  50% {
    filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
      drop-shadow(0px 0px 5px rgb(0, 255, 255))
      drop-shadow(0px 0px 7px rgb(0, 255, 255));
  }
  99% {
    filter: drop-shadow(0px 0px 2px rgb(100, 255, 255))
      drop-shadow(0px 0px 5px rgb(0, 255, 255))
      drop-shadow(0px 0px 7px rgb(0, 255, 255));
  }
}

@keyframes winner-o {
  0% {
    filter: drop-shadow(0px 0px 2px rgb(0, 255, 0))
      drop-shadow(0px 0px 5px rgb(0, 255, 0))
      drop-shadow(0px 0px 7px rgb(0, 255, 0));
  }
  49% {
    filter: drop-shadow(0px 0px 2px rgb(0, 255, 0))
      drop-shadow(0px 0px 5px rgb(0, 255, 0))
      drop-shadow(0px 0px 7px rgb(0, 255, 0));
  }
  50% {
    filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
      drop-shadow(0px 0px 5px rgb(255, 0, 166))
      drop-shadow(0px 0px 7px rgb(255, 0, 166));
  }
  99% {
    filter: drop-shadow(0px 0px 2px rgb(255, 80, 166))
      drop-shadow(0px 0px 5px rgb(255, 0, 166))
      drop-shadow(0px 0px 7px rgb(255, 0, 166));
  }
}
